<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel owl-loaded owl-drag">

          <div class="owl-stage-outer">
            <div *ngIf="services" [ngStyle]="owlStageStyle" class="owl-stage">
              <div *ngFor="let service of services" [ngStyle]="owlStageStyle.owlItem" class="owl-item cloned"
                   style="width: 292px; margin-right: 30px;">
                <div class="item">
                  <div class="icon">
                    <img [height]="owlStage.owlImage.height" [ngSrc]="service.icon" [width]="owlStage.owlImage.width"
                         alt="">
                  </div>
                  <div class="down-content">
                    <h4>{{ service.title }}</h4>
                    <p>{{ service.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <button (click)="prev()" class="owl-prev" role="presentation" type="button">
              <span aria-label="Previous">‹</span>
            </button>
            <button (click)="next()" class="owl-next" role="presentation" type="button">
              <span aria-label="Next">›</span>
            </button>
          </div>
          <div class="owl-dots">
            <button class="owl-dot" role="button"><span></span></button>
            <button class="owl-dot active" role="button"><span></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
