<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a class="logo" routerLink="/home" routerLinkActive="active">
            EduTube
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="has-sub">
              <a routerLink="/home" routerLinkActive="active">
                Home
              </a>
              <ul class="sub-menu">
                <li class="scroll-to-section"><a fragment="top" routerLink="/home">Top</a></li>
                <li class="scroll-to-section"><a fragment="services" routerLink="/home">Services</a></li>
                <li class="scroll-to-section"><a fragment="meetings" routerLink="/home">Meetings</a></li>
                <li class="scroll-to-section"><a fragment="apply" routerLink="/home">Apply</a></li>
                <li class="scroll-to-section"><a fragment="courses" routerLink="/home">Courses</a></li>
                <li class="scroll-to-section"><a fragment="our-facts" routerLink="/home">Our Facts</a></li>
                <li class="scroll-to-section"><a fragment="contact" routerLink="/home">Contact Us</a></li>
              </ul>
            </li>
            <li class="has-sub">
              <a routerLink="/meetings" routerLinkActive="active">
                Meetings
              </a>
              <ul class="sub-menu">
                <li>
                  <a routerLink="/upcoming-meetings" routerLinkActive="active">
                    Upcoming Meetings
                  </a>
                </li>
                <li>
                  <a routerLink="/meeting-details" routerLinkActive="active">
                    Meeting Details
                  </a>
                </li>
                <li>
                  <a routerLink="/meetings" routerLinkActive="active">
                    All Meetings
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/contact" routerLinkActive="active">
                Contact Us
              </a>
            </li>
            <li>
              <a routerLink="/about" routerLinkActive="active">
                About Us
              </a>
            </li>
            <li class="has-sub">
              <a routerLink="/test" routerLinkActive="active">
                Test
              </a>
              <ul class="sub-menu">
                <li>
                  <a routerLink="/test" routerLinkActive="active">
                    Test
                  </a>
                </li>
                <li>
                  <a routerLink="/video-test" routerLinkActive="active">
                    Video Test
                  </a>
                </li>
              </ul>
            </li>
            <li class="has-sub">
              <a routerLink="/login" routerLinkActive="active">
                <i class="fa fa-user"></i>
              </a>
              <ul class="sub-menu">
                <li>
                  <a routerLink="/register" routerLinkActive="active">
                    Register
                  </a>
                </li>
                <li>
                  <a routerLink="/login" routerLinkActive="active">
                    Login
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
