<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a class="logo" href="index.html">
            Edu Meeting
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a class="" href="#top" routerLink="/home" routerLinkActive="active">
                Home
              </a>
            </li>
            <li>
              <a routerLink="/meetings" routerLinkActive="active">
                Meetings
              </a>
            </li>
            <li class="scroll-to-section">
              <a href="#apply" routerLink="/apply" routerLinkActive="active">
                Apply Now
              </a>
            </li>
            <li class="has-sub">
              <a href="javascript:void(0)">Pages</a>
              <ul class="sub-menu">
                <li>
                  <a routerLink="/upcoming-meetings" routerLinkActive="active">
                    Upcoming Meetings
                  </a>
                </li>
                <li>
                  <a routerLink="/meeting-details" routerLinkActive="active">
                    Meeting Details
                  </a>
                </li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="#courses">Courses</a></li>
            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
            <li class="scroll-to-section"><a routerLink="/test" routerLinkActive="active">Test</a></li>
            <li class="scroll-to-section"><a routerLink="/video-test" routerLinkActive="active">Video Test</a></li>
            <li class="scroll-to-section"><a routerLink="/register" routerLinkActive="active">Register</a></li>
            <li class="scroll-to-section"><a routerLink="/login" routerLinkActive="active">Login</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
