<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a class="logo" href="index.html">
            Edu Meeting
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a class="active" href="#top">Home</a></li>
            <li><a href="/templatemo_569_edu_meeting/meetings.html">Meetings</a></li>
            <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)">Pages</a>
              <ul class="sub-menu">
                <li><a href="/templatemo_569_edu_meeting/meetings.html">Upcoming Meetings</a></li>
                <li><a href="/meeting-details.html">Meeting Details</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="#courses">Courses</a></li>
            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
            <li class="scroll-to-section"><a routerLink="/test">Test</a></li>
            <li class="scroll-to-section"><a routerLink="/video-test">Video Test</a></li>
            <li class="scroll-to-section"><a routerLink="/register">Register</a></li>
            <li class="scroll-to-section"><a routerLink="/login">Login</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
