<section class="register-page">
  <div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <div>
        <label>Name:</label>
        <input formControlName="name" type="text">
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
          Name is required
        </div>
      </div>

      <div>
        <label>Email:</label>
        <input formControlName="email" type="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Invalid email
        </div>
      </div>

      <div>
        <label>Password:</label>
        <input formControlName="password" type="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Password must be at least 6 characters
        </div>
      </div>

      <button [disabled]="registerForm.invalid" [ngStyle]="{
              'background-color': registerForm.invalid ? '#ccc' : '#007bff',
               'color': registerForm.invalid ? '#000' : '#fff',
                'cursor': registerForm.invalid ? 'not-allowed' : 'pointer'
              }" type="submit">
        Register
      </button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</section>
